*
{
    user-select: none;
}
body
{
    background: url('./bg.jpg');
    background-size: cover;
}
.done 
{
    text-decoration: line-through;
}

.pf 
{
    width: 50px;
    height: 50px;
}
@media (max-width:600px) 
{
    body {
        background-size: auto;
        background-position: center;
    }
}